.head-inci{
    background-image: url('../../assets/images/header.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60px;
    padding: 3px;
    color:#fff!important;
}
.head-cat{
    background-image: url('../../assets/images/header-catalogos.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60px;
    padding: 3px;
    color:#fff!important;
}
.head-mov{
    background-image: url('../../assets/images/header-empleados.jpg');
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60px;
    padding: 3px;
    color:#fff!important;
}
.head-cat h2, .head-inci h2, .head-mov h2{
    color:#fff;
    margin:10px;
}
input.ng-touched.ng-invalid, select.ng-touched.ng-invalid, textarea.ng-touched.ng-invalid, .checkbox-custom.ng-touched.ng-invalid > i {
    border-color: #ff7b76 !important;
}

/* AN_EMP NUM_EMP AUTOCOMPLETE */
.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
}

.autocomplete-selected {
    background: #F0F0F0;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #3399FF;
}

.autocomplete-group {
    padding: 2px 5px;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}

/* END AN_EMP NUM_EMP AUTOCOMPLETE */

/* ngProgress */

/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    box-shadow: 0 0 10px 0; /* Inherits the font color */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}

/* END ndProgress */

.isloading-wrapper.isloading-right {
    margin-left: 10px;
}

.isloading-overlay {
    position: relative;
    text-align: center;
}

.isloading-overlay .isloading-wrapper {
    background: #FFFFFF;
    -webkit-border-radius: 7px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 7px;
    -moz-background-clip: padding;
    border-radius: 7px;
    background-clip: padding-box;
    display: inline-block;
    margin: 0 auto;
    padding: 10px 20px;
    top: 10%;
    z-index: 9000;
}

/*Glyphicon Spinner*/
.glyphicon-spin {
    -animation: spin .9s infinite linear;
    -webkit-animation: spin2 .9s infinite linear;
}

@-webkit-keyframes spin2 {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}



.delete-form{
    display: inline;
}

@media only screen and (max-width: 992px) {
    .head-cat h2, .head-inci h2, .head-mov h2{
        font-size:18px;
    }
}